<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackers pro group</title>
</head>
<body>


</head>
<body bgcolor="blue">
<h1 style="color: yellow">    Tarixan bu so'z ko'pincha "kompyuterga hujumchi" ma'nosida ishlatiladi. Bundan tashqari, filmlarda xaker odatda har qanday tizimni darhol "buzish" ga qodir bo'lgan shaxs sifatida taqdim etiladi, bu aslida printsipial jihatdan mumkin emas. Masalan, “Swordfish Password” filmida dasturchi mutlaq kriptografik kuchga ega ekanligi nazariy jihatdan isbotlangan shifrlash tizimi Vernam shifrini  buzadi .
    
    So'nggi paytlarda "xaker" so'zi ko'pincha tarmoq xakerlari , kompyuter viruslari yaratuvchilari va boshqa kompyuter jinoyatchilari, masalan, kartalar , krakerlar , skript bolalarini tasvirlash uchun ishlatiladi . Ko'pgina kompyuter krakerlarini haqli ravishda xakerlar deb atash mumkin, chunki ular haqiqatan ham "haker" so'zining yuqoridagi ta'riflarining barchasiga (yoki deyarli barchasiga) mos keladi.</h1>
<img src="https://e7.pngegg.com/pngimages/940/727/png-clipart-security-hacker-hoodie-hacker-computer-expert-thumbnail.png" height="600" width="1000">>    
</body>
</html>